{{ partial "header.html" . }}
<div class="container">

  <!-- TODO: Mark some articles as 'prominent, or 'weight' them heavily so they can be auto-pulled to prominence on this page. -->
  <!-- TODO: Reintroduce taxonomy and organise articles into subsections when there is more content. -->
  <!-- TODO: Introduce pagination when there is more content to sift through. -->
  <!-- TODO: Incorporate twitter feed somehow? -->

  <h1 id="main-description">Theory ⋂ Practice</h1>

  {{ .Content }}

  {{ range .Data.Pages }}
  {{ .Render "summary"}}
  {{ end }}

  <h2 id="diary-entries">Selected entries from my <a href="http://emphaticallystatic.org/">old journal</a></h2>
  <div class="pure-g l-box-container">
  {{ range where .Data.Pages "Params.category" "==" "personal" }}
  {{ .Render "summary-personal"}}
  {{ end }}
  </div>

</div>
{{ partial "footer.html" . }}
