{{ partial "header.html" . }}
<div class="container">
  <article class="">

    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <section class="post-meta">
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2 Jan 2006" }}</time>
      </section>
    </header>

    <section class="post-content">
      <p>You can view this photo album on <a href="{{ .Params.album }}">an external site</a>.</p>
    </section>

  </article>
</div>

{{ partial "footer.html" . }}
