.container {
    max-width: 720px;
}

.navbar {
    display: none;
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fbf7f0;
    z-index: 99;
    border-bottom: 1px solid #eee;
  }
  .navbar-spacer {
    display: none; }

  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

body {
    font-family: "Lora", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    color: #2D2B27;
    font-size: 1.8em;
    background-color: #fbf7f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h1 {
    margin-top: 0.5em;
}

img.svg-icon {
    width: 20px;
    padding-right: 20px;
    fill: #ff0000;
}


.post-meta {
    display: block;
    margin: -2rem 0 2rem 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #9EABB3;
}

.post-date {
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
}

a {
    color: #c6531a;
    text-decoration: none;
}

a:hover {
    color: #823711;
    text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    padding: 0;
}