img.svg-icon {
    width: 20px;
    padding-right: 20px;
    fill: #ff0000;
}


.post-meta {
    display: block;
    margin: -2rem 0 2rem 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #9EABB3;
}

.post-date {
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
}

