{{ partial "header.html" . }}
<div class="container">
  <!-- TODO: Highlight some things I'm particularly interested in? e.g. ML -->
  <!-- TODO: Move nearly everything out to GitHub and link to READMEs? -->
  <h1 id="main-description">Things I’ve made</h1>
  <p>Much of my time over the years has been spent merrily making and improving the sorts of <a href="#websites">websites</a>, <a href="#software-utilities">software utilities</a> and <a href="#research-tools">research tools</a> you see on this page. If you’d like to learn more about any of these projects, <a href="mailto:mail@harishnarayanan.org">just ask</a>!</p>
  <!-- TODO: Featured stuff goes here: shpotify, femtable -->
  <!-- TODO: Also, when e.g., thinkbot/pde-zen-garden etc. are in better shape, demo them prominently here. -->

  <h2 id="websites">Websites and webapps</h2>
  <p>I built these for fun for about a dozen years. Then they started paying the bills.</p>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "website" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="software-utilities">Simple software utilities</h2>
  <p>The following utilities were originally created to solve simple problems I stumbled across. I am releasing their code in the hope that they will be helpful to you too.</p>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "software-utility" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="research-tools">Scientific research tools</h2>
  <p>Most of my <a href="/research/">academic research work</a> has revolved around mathematically modelling biological systems. Since these systems are complex, the resulting equations describing them are often too complicated to be solved by hand. This means I’ve had to build a lot of specialised research software to help. And the tools you see below are offshoots of such software.</p>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "research-tool" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>
    <!-- <div class="row"> -->
    <!--   <div class="one-third column"> -->
    <!--        <a href="http://localhost/files/projects/chondrocyte-model/chondrocyte-model.zip"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/chondrocyte-model.png" alt="An electrophysiological model for the chondrocyte" title="An electrophysiological model for the chondrocyte"></a> -->
    <!--        <div class="gallery-item-description"><a href="http://localhost/files/projects/chondrocyte-model/chondrocyte-model.zip">Chondrocyte model</a></div> -->
    <!--        <div class="gallery-item-meta">2010 &ndash; 2011</div> -->
    <!--   </div> -->
    <!--   <div class="one-third column"> -->
    <!--        <a href="https://launchpad.net/cbc.solve"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/adaptive-fsi.png" alt="cbc.swing: An adaptive fluid-structure interaction solver" title="cbc.swing: An adaptive fluid-structure interaction solver"></a> -->
    <!--        <div class="gallery-item-description"><a href="https://launchpad.net/cbc.solve">Adaptive FSI solver</a></div> -->
    <!--        <div class="gallery-item-meta">2008 &ndash; 2011</div> -->
    <!--   </div> -->
    <!--   <div class="one-third column"> -->
    <!--        <a href="https://launchpad.net/cbc.solve"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/automated-mechanics.png" alt="cbc.twist: A general nonlinear elasticity solution framework" title="cbc.twist: A general nonlinear elasticity solution framework"></a> -->
    <!--        <div class="gallery-item-description"><a href="https://launchpad.net/cbc.solve">Nonlinear elasticity solver</a></div> -->
    <!--        <div class="gallery-item-meta">2010 &ndash; 2012</div> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="row"> -->
    <!--   <div class="one-third column"> -->
    <!--        <a href="http://localhost/files/projects/adaptive-porous-flow/adaptive-porous-flow.zip"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/porous-flow.png" alt="Adaptive porous flow solver" title="Adaptive porous flow solver"></a> -->
    <!--        <div class="gallery-item-description"><a href="http://localhost/files/projects/adaptive-porous-flow/adaptive-porous-flow.zip">Adaptive porous flow solver</a></div> -->
    <!--        <div class="gallery-item-meta">2010</div> -->
    <!--   </div> -->
    <!--   <div class="one-third column"> -->
    <!--        <a href="https://launchpad.net/nsbench"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/navier-stokes-benchmarks.png" alt="nsbench: Navier-Stokes solution algorithm benchmarks" title="nsbench: Navier-Stokes solution algorithm benchmarks"></a> -->
    <!--        <div class="gallery-item-description"><a href="https://launchpad.net/nsbench">Navier-Stokes benchmarks</a></div> -->
    <!--        <div class="gallery-item-meta">2008 &ndash; 2010</div> -->
    <!--   </div> -->
    <!-- </div> -->
</div>
{{ partial "footer.html" . }}
