{{ partial "header.html" . }}
<div class="container">
  <!-- TODO: Highlight some things I'm particularly interested in? e.g. ML -->
  <!-- TODO: Move nearly everything out to GitHub and link to READMEs? -->
  <h1 id="main-description">Things I’ve made</h1>
  <p>Much of my leisure time over the years has been spent merrily making and improving the sorts of <a href="#websites">websites</a> and <a href="#software">software utilities</a> you see on this page. If you&#8217;re interested in learning more about any of these projects, I&#8217;d be delighted to hear from you!</p>
  <!-- TODO: Featured stuff goes here: shpotify, femtable -->
  <!-- TODO: Also, when e.g., thinkbot/pde-zen-garden etc. are in better shape, demo them prominently here. -->

  <h2 id="websites">Sites around the web</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "website" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="software">Simple software utilities</h2>
  <p>The following tools were originally created to solve simple problems I stumbled across. I am releasing their code in the hope that they will be helpful to you too.</p>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "software" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <!--   <div class="row"> -->
  <!--     <div class="one-half column"> -->
  <!--       <a href="/projects/dorsal/"><img class="u-max-full-width" src="http://localhost/files/images/projects/software/dorsal.jpg" alt="Dorsal" title="Dorsal, a simple package management system"></a> -->
  <!--       <div class="gallery-item-description"><a href="/projects/dorsal/">Dorsal package manager</a></div> -->
  <!--       <div class="gallery-item-meta">2007 &ndash; 2015</div> -->
  <!--     </div> -->
  <!--     <div class="one-half column"> -->
  <!--       <a href="https://github.com/hnarayanan/googleplus-album-fetcher"><img class="u-max-full-width" src="http://localhost/files/images/projects/software/googleplus-album-fetcher.jpg" alt="Google+ album fetcher" title="Google+ album fetcher"></a> -->
  <!--       <div class="gallery-item-description"><a href="https://github.com/hnarayanan/googleplus-album-fetcher">Google+ album fetcher</a></div> -->
  <!--       <div class="gallery-item-meta">2012</div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <div class="row"> -->
  <!--     <div class="one-half column"> -->
  <!--       <a href="https://github.com/hnarayanan/shpotify"><img class="u-max-full-width" src="http://localhost/files/images/projects/software/shpotify.png" alt="A command-line interface for Spotify on a Mac" title="A command-line interface for Spotify on a Mac"></a> -->
  <!--       <div class="gallery-item-description"><a href="/projects/shpotify/">Command-line Spotify interface</a></div> -->
  <!--       <div class="gallery-item-meta">2012 &ndash;</div> -->
  <!--     </div> -->
  <!--     <div class="one-half column"> -->
  <!--       <a href="/projects/ios-cas/"><img class="u-max-full-width" src="http://localhost/files/images/projects/software/ios-cas.png" alt="A computer algebra system for iOS" title="A computer algebra system for iOS"></a> -->
  <!--       <div class="gallery-item-description"><a href="/projects/ios-cas/">iOS algebra system</a></div> -->
  <!--       <div class="gallery-item-meta">2011</div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <div class="row"> -->
  <!--     <div class="one-half column"> -->
  <!--       <a href="http://localhost/files/projects/transform/transform.tar.bz2"><img class="u-max-full-width" src="http://localhost/files/images/projects/software/point-transform.png" alt="Point cloud transformation" title="Point cloud transformation"></a> -->
  <!--       <div class="gallery-item-description"><a href="http://localhost/files/projects/transform/transform.tar.bz2">Point cloud transformation</a></div> -->
  <!--       <div class="gallery-item-meta">2011</div> -->
  <!--     </div> -->
  <!--     <div class="one-half column"> -->
  <!--       <a href="http://localhost/files/projects/body-tracking/body-tracking.tar.bz2"><img class="u-max-full-width" src="http://localhost/files/images/projects/software/body-tracking.png" alt="Tracking body statistics" title="Tracking body statistics"></a> -->
  <!--       <div class="gallery-item-description"><a href="http://localhost/files/projects/body-tracking/body-tracking.tar.bz2">Tracking body statistics</a></div> -->
  <!--       <div class="gallery-item-meta">2011</div> -->
  <!--     </div> -->
  <!--   </div> -->
    <!-- TODO: Catalogue research software as part of the projects page -->
    <!--     <h2 id="software">Related software projects</h2> -->
    <!-- <p>Much of the research code distributed below is human-readable Python sitting atop the <a href="http://fenicsproject.org/">FEniCS Project</a>. FEniCS is a collaborative project for the automation of computational mathematical modelling based on the finite element method. In order to play with the code, you need to have <a href="http://fenicsproject.org/download/">a working installation of FEniCS</a>. Please <a href="mailto:harish at simula dot no">write to me</a> if you need help getting the code to work or are interested in collaborating on future extensions.</p> -->
    <!-- <div class="row"> -->
    <!--   <div class="one-third column"> -->
    <!-- 	<a href="http://localhost/files/projects/chondrocyte-model/chondrocyte-model.zip"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/chondrocyte-model.png" alt="An electrophysiological model for the chondrocyte" title="An electrophysiological model for the chondrocyte"></a> -->
    <!-- 	<div class="gallery-item-description"><a href="http://localhost/files/projects/chondrocyte-model/chondrocyte-model.zip">Chondrocyte model</a></div> -->
    <!-- 	<div class="gallery-item-meta">2010 &ndash; 2011</div> -->
    <!--   </div> -->
    <!--   <div class="one-third column"> -->
    <!-- 	<a href="https://launchpad.net/cbc.solve"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/adaptive-fsi.png" alt="cbc.swing: An adaptive fluid-structure interaction solver" title="cbc.swing: An adaptive fluid-structure interaction solver"></a> -->
    <!-- 	<div class="gallery-item-description"><a href="https://launchpad.net/cbc.solve">Adaptive FSI solver</a></div> -->
    <!-- 	<div class="gallery-item-meta">2008 &ndash; 2011</div> -->
    <!--   </div> -->
    <!--   <div class="one-third column"> -->
    <!-- 	<a href="https://launchpad.net/cbc.solve"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/automated-mechanics.png" alt="cbc.twist: A general nonlinear elasticity solution framework" title="cbc.twist: A general nonlinear elasticity solution framework"></a> -->
    <!-- 	<div class="gallery-item-description"><a href="https://launchpad.net/cbc.solve">Nonlinear elasticity solver</a></div> -->
    <!-- 	<div class="gallery-item-meta">2010 &ndash; 2012</div> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="row"> -->
    <!--   <div class="one-third column"> -->
    <!-- 	<a href="http://localhost/files/projects/adaptive-porous-flow/adaptive-porous-flow.zip"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/porous-flow.png" alt="Adaptive porous flow solver" title="Adaptive porous flow solver"></a> -->
    <!-- 	<div class="gallery-item-description"><a href="http://localhost/files/projects/adaptive-porous-flow/adaptive-porous-flow.zip">Adaptive porous flow solver</a></div> -->
    <!-- 	<div class="gallery-item-meta">2010</div> -->
    <!--   </div> -->
    <!--   <div class="one-third column"> -->
    <!-- 	<a href="https://launchpad.net/nsbench"><img class="gallery-item-image" src="http://localhost/files/images/research/gallery/navier-stokes-benchmarks.png" alt="nsbench: Navier-Stokes solution algorithm benchmarks" title="nsbench: Navier-Stokes solution algorithm benchmarks"></a> -->
    <!-- 	<div class="gallery-item-description"><a href="https://launchpad.net/nsbench">Navier-Stokes benchmarks</a></div> -->
    <!-- 	<div class="gallery-item-meta">2008 &ndash; 2010</div> -->
    <!--   </div> -->
    <!-- </div> -->
<!--{{ range .Data.Pages }}
{{ .Render "summary"}}
{{ end }}-->
</div>
{{ partial "footer.html" . }}
