{{ partial "header.html" . }}
<div class="container">

  <!-- TODO: Mark some articles as 'prominent, or 'weight' them heavily so they can be auto-pulled to prominence on this page. -->
  <!-- TODO: When there is a better taxonomy system for the articles, emphasize the subsections on this page -->
  <!-- TODO: Incorporate twitter feed somehow? -->

  <h1 id="main-description">Theory ⋂ Practice</h1>
  <p>I’m usually playing with a handful of technologies at any given time. At the moment these include Kubernetes, TensorFlow, Go, Swift and Scheme. The articles below are an attempt to share some of the insights I’ve gathered along the way.</p>
  <p>If you’re looking for my more formal writing on computational science, head on over to the <a href="/research/#writing">relevant section of the research page</a>. Or if that’s not your cup of tea, do feel free to sample <a href="http://emphaticallystatic.org/featured/">some entries from my personal journal</a>!</p>

  {{ range where .Data.Pages "Params.category" "!=" "personal" }}
  {{ .Render "summary"}}
  {{ end }}

  <!-- TODO: Bring back selected entries from my diary below? -->
  <!-- TODO: Auto-pull recommended reading list from starred articles on Readability here? -->
</div>
{{ partial "footer.html" . }}
