server_tokens off;

server {
  server_name www.{{ domain_name }};

  ssl_certificate /etc/nginx/ssl/{{ domain_name }}.crt;
  ssl_certificate_key /etc/nginx/ssl/{{ domain_name }}.key;

  listen *:80;
  listen *:443 ssl spdy;
  listen [::]:80;
  listen [::]:443 ssl spdy;

  return 301 https://{{ domain_name }}$request_uri;
}

server {
  server_name {{ domain_name }};

  listen *:80;
  listen [::]:80;

  return 301 https://{{ domain_name }}$request_uri;
}

server {
  server_name {{ domain_name }};

  ssl_certificate /etc/nginx/ssl/{{ domain_name }}.crt;
  ssl_certificate_key /etc/nginx/ssl/{{ domain_name }}.key;

  listen *:443 ssl spdy;
  listen [::]:443 ipv6only=on ssl spdy;

  access_log /var/log/nginx/{{ domain_name }}.access.log;
  error_log /var/log/nginx/{{ domain_name }}.error.log;

  charset utf-8;
  client_max_body_size 75M;

  add_header Strict-Transport-Security 'max-age=31536000';

  ssl_prefer_server_ciphers on;
  ssl_ciphers 'kEECDH+ECDSA+AES128 kEECDH+ECDSA+AES256 kEECDH+AES128 kEECDH+AES256 kEDH+AES128 kEDH+AES256 DES-CBC3-SHA +SHA !aNULL !eNULL !LOW !MD5 !EXP !DSS !PSK !SRP !kECDH !CAMELLIA !RC4 !SEED';
  ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

  spdy_headers_comp 0;

  ssl_dhparam /etc/nginx/ssl/{{ domain_name }}.pem;

  ssl_session_cache   shared:SSL:10m;
  ssl_session_timeout 10m;

  ssl_buffer_size 1400;

  location /cv.pdf {
    root /home/ubuntu/{{ domain_name }}/files/cv;
  }

  location /resume.pdf {
    root /home/ubuntu/{{ domain_name }}/files/cv;
  }

  location / {
    ssi on;
    set $MY_DOCUMENT_ROOT "";
    gzip_static on;
    expires max;
    root /home/ubuntu/{{ domain_name }};
  }
}
