</main>

<!-- TODO: Rethink structure of the footer and clean up markup -->

    <!--
    <aside role="complementary" aria-labelledby="complimentary-description">
      <h3 id="complimentary-description">About Harish Narayanan</h3>
      <p>He recieved his Ph.D. in 2007 and has since been a vagabond...</p>
    </aside>
    -->

    <hr>

    <footer style="padding-bottom: 40px; font-family: 'Open Sans'; font-size: 12px; letter-spacing: 0.02em;">
      <div class="container">

	<div class="row">
	  <div class="eight columns">
	    <!-- TODO: Remove all inline styling and make such contact links work even without svg or css -->
	    <address>
	       <img class="svg-icon" alt="" src="/img/icons/twitter.svg">
	       <img class="svg-icon" alt="" src="/img/icons/github.svg">
	       <img class="svg-icon" alt="" src="/img/icons/mail.svg">
	       <img class="svg-icon" alt="" style="padding-bottom: 2px; width: 19px;" src="/img/icons/linkedin.svg">
<!--         <a href="mailto:mail@harishnarayanan.org">Email</a> &mdash; <a href="#">Twitter</a>, <a href="#">GitHub</a>, <a href="#">LinkedIn</a>-->
      </address>
	  </div>
	  <div class="four columns">
	    © Copyright 2015 Harish Narayanan
	  </div>
	</div>

      </div>

    </footer>

  </body>
</html>
