</main>

    <!--
    <aside role="complementary" aria-labelledby="complimentary-description">
      <h3 id="complimentary-description">About Harish Narayanan</h3>
      <p>He recieved his Ph.D. in 2007 and has since been a vagabond...</p>
    </aside>
    -->

    <hr>

    <footer role="contentinfo" aria-labelledby="contentinfo-description">
      <div class="container">

      <address id="contentinfo-description">
        Contact Harish Narayanan: <a href="mailto:mail@harishnarayanan.org">Email</a>, <a href="#">Twitter</a>, <a href="#">GitHub</a>, <a href="#">LinkedIn</a>, Phone
      </address>
      <p>© Copyright 2015 Harish Narayanan</p>
      </div>

    </footer>

  </body>
</html>
