<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- TODO: Clean up ugly pluralization of section names -->
    <title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
    <!-- TODO: Add section descriptions to a dictionary somewhere -->
    <meta name="description" content="">
    <meta name="author" content="Harish Narayanan">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Lora:400,400italic,700">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <!-- TODO: Bring back ARIA roles and helpers once code stabilizes -->
    <header role="banner">
      <p class="visuallyhidden"><a href="#content">Skip to main content</a></p>
      <!-- TODO: Fix the following navbar on small screen sizes -->
      <nav class="navbar" role="navigation">
	<div class="container">
          <h2 class="visuallyhidden"><span id="navigation-description">Main</span> Navigation</h2>
	  <ul class="navbar-list">
	    <!-- TODO: Suitably highlight the chosen item based on section? -->
            <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/writing/">Writing</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/projects/">Projects</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/research/">Research</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/photos/">Photos</a></li>
	  </ul>
	</div>
      </nav>
    </header>
    <main id="content" role="main">
<!-- TODO: Move the container div to this partial, so that it doesn't need to be duplicated in other templates -->
