<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Harish Narayanan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>

  <body>
    <header role="banner" aria-labelledby="banner-description">
      <p><a href="#content">skip to main content</a></p>
      <h1 id="banner-description">Harish Narayanan</h1>
      <nav role="navigation" aria-labelledby="navigation-description">
        <h2><span id="navigation-description">Main</span> Navigation</h2>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/writing/">Writing</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/photography/">Photography</a></li>
        </ul>
      </nav>
    </header>
    <main id="content" role="main" aria-labelledby="main-description" tabindex="-1">
