{{ partial "header.html" . }}
<div class="container">
<article class="">

  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <section class="post-meta">
      <time class="post-date">{{ .Params.start_date }}</time>{{ if .Params.end_date }} – <time class="post-date">{{ .Params.end_date }}</time>{{ end }}
    </section>
  </header>

  <section class="post-content">
    {{ .Content }}
  </section>

  <footer class="post-footer">
    <section class="share">
      <h4>Want to learn more?</h4>
      <p>Did you enjoy this summary of my research? You might be interested in reading about <a href="/research/">other things I’ve studied</a>. And if you have questions or want to learn more about this stuff, don’t hesitate to <a href="mailto:mail@harishnarayanan.org">write to me</a>!</p>
      <!-- TODO: Bring back some sharing options here, as a partial to be reused with the article template -->
    </section>
  </footer>

</article>
</div>

{{ partial "footer.html" . }}
