    <div class="pure-u-1 {{ if not .Params.featured }}pure-u-md-1-2{{ end }}">
      <div class="l-box">
        <h3 class="portfolio"><a href="{{ if .Params.exterior_link }}{{ .Params.exterior_link }}{{ else }}{{ .RelPermalink }}{{ end }}">{{ .Params.short_title }}</a></h3>
	<!-- TODO: Remove inline styling below -->
	<section style="margin-bottom: 1.2rem;" class="post-meta">
	  <!-- TODO: Fix markup below with a <time>start-date</time> -- <time>end-date</time> instead -->
	  <time class="post-date">{{ .Params.period }}</time>
	</section>
        <p style="margin-bottom: 1.2rem;"><a href="{{ if .Params.exterior_link }}{{ .Params.exterior_link }}{{ else }}{{ .RelPermalink }}{{ end }}"><img class="pure-img" src="{{ .Params.thumbnail }}" alt="{{ .Title }}" title="{{ .Title }}"></a></p>
	<p>{{ .Description }}</p>
      </div>
    </div>
