    <div class="pure-u-1 {{ if not .Params.featured }}pure-u-md-1-2{{ end }}">
      <div class="l-box">
        <h3 class="portfolio">{{ .Params.short_title }}</h3>
	<section style="margin-bottom: 1.2rem;" class="post-meta">
	   <time class="post-date">{{ .Params.period }}</time>
	</section>
        <p style="margin-bottom: 1.2rem;"><a href="{{ .RelPermalink }}"><img class="pure-img" src="{{ .Params.thumbnail }}" alt="{{ .Title }}" title="{{ .Title }}"></a></p>
	<p>{{ .Description }}</p>
      </div>
    </div>
