[user]
    name = {{ user_name }}
    email = {{ user_email }}
[push]
    default = upstream
[alias]
    co = checkout
    cp = cherry-pick
    br = branch
    st = status
    di = diff
    psuh = push
    oush = push
    puhs = push