<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }}{{ if not .IsHome }} — {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}">
    <meta name="author" content="Harish Narayanan">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    {{- if .Params.includes_code }}
    <link rel="stylesheet" href="/styles/highlight.css">
    {{- end }}
  </head>

  <body>

    <header>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link{{ if eq .URL "/" }} active{{ end }}" href="/">About</a></li>
            <li class="navbar-item"><a class="navbar-link{{ if eq .URL "/writing/" }} active{{ end }}" href="/writing/">Writing</a></li>
            <li class="navbar-item"><a class="navbar-link{{ if eq .URL "/projects/" }} active{{ end }}" href="/projects/">Projects</a></li>
            <li class="navbar-item"><a class="navbar-link{{ if eq .URL "/research/" }} active{{ end }}" href="/research/">Research</a></li>
            <li class="navbar-item"><a class="navbar-link{{ if eq .URL "/photos/" }} active{{ end }}" href="/photos/">Photos</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
