{{ partial "header.html" . }}
<div class="container">

  <h1 id="main-description">Academic research</h1>
  <p>For the decade prior to becoming an entrepreneur (2002—2012), I enjoyed the lifestyle of a curious academic. My research in this period was inspired by a range of applications in biophysics, and focused on continuum field theory and numerical algorithms. This page links to <a href="#areas">descriptions of my work</a>, and serves as a sampling of my <a href="#writing">scientific writing</a> and <a href="#talks">presentations</a>.</p>

  <h2 id="areas">Primary investigations</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "primary" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="curiosities">Curiosities along the way</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "curiosity" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="writing">Journal articles</h2>
  <ol class="writing">
    <li>
      <strong>“The roles of K+ currents in human articular chondrocyte electrophysiology: A computational perspective”</strong>
      <br><em>H. Narayanan</em>, M. M. Maleckar, R. B. Clark, J. R. Wilson, W. R. Giles
      <br>Under preparation
    </li>
    <li>
      <strong>“An adaptive finite element method for fluid-structure interaction”</strong>
      <a href="/papers/adaptive-finite-element-method-for-fluid-structure-interaction.pdf">[preprint]</a>
      <br>K. Selim, A. Logg, <em>H. Narayanan</em>, M. G. Larson
      <br>Submitted
    </li>
    <li>
      <strong>“In silico estimates of the free energy changes in growing, avascular, tumor spheroids”</strong>
      <a href="http://dx.doi.org/10.1088/0953-8984/22/19/194122" title="Download the original article">[postprint]</a>
      <a href="http://arxiv.org/pdf/1002.1428v2">[preprint]</a>
      <br><em>H. Narayanan</em>, S. N. Verner, K. L. Mills, R. Kemkemer, K. Garikipati
      <br>Journal of Physics: Condensed Matter
      <br>Vol. 22(19), 2010
    </li>
    <li>
      <strong>“The micromechanics of fluid-solid interactions during growth in porous soft biological tissue”</strong>
      <a href="http://dx.doi.org/10.1007/s10237-008-0126-1" title="Download the original article">[postprint]</a>
      <a href="http://arxiv.org/pdf/q-bio/0701003v4">[preprint]</a>
      <br><em>H. Narayanan</em>, E. M. Arruda, K. Grosh, K. Garikipati
      <br>Biomechanics and Modeling in Mechanobiology
      <br>Vol. 8(3), pp. 167–181, 2009
    </li>
    <li>
      <strong>“The continuum elastic and atomistic viewpoints on the formation volume and strain energy of a point defect”</strong>
      <a href="http://dx.doi.org/10.1016/j.jmps.2006.02.007" title="Download the original article">[postprint]</a>
      <a href="http://arxiv.org/pdf/cond-mat/0508169v1">[preprint]</a>
      <br>K. Garikipati, M. Falk, M. Bouville, B. Puchala, <em>H. Narayanan</em>
      <br>Journal of the Mechanics and Physics of Solids
      <br>Vol. 54(9), pp. 1929–1951, 2006
    </li>
    <li>
      <strong>“Biological remodelling: Stationary energy, configurational change, internal variables and dissipation”</strong>
      <a href="http://dx.doi.org/10.1016/j.jmps.2005.11.011" title="Download the original article">[postprint]</a>
      <a href="http://arxiv.org/pdf/q-bio/0506023v2">[preprint]</a>
      <br>K. Garikipati, J. Olberding, <em>H. Narayanan</em>, E. M. Arruda, K. Grosh, S. Calve
      <br>Journal of the Mechanics and Physics of Solids
      <br>Vol. 54(7), pp. 1493–1515, 2006
    </li>
    <li>
      <strong>“A continuum treatment of growth in biological tissue: The coupling of mass transport and mechanics”</strong>
      <a href="http://dx.doi.org/10.1016/j.jmps.2004.01.004" title="Download the original article">[postprint]</a>
      <a href="http://arxiv.org/pdf/q-bio/0312001v3">[preprint]</a>
      <br>K. Garikipati, E. M. Arruda, K. Grosh, <em>H. Narayanan</em>, S. Calve
      <br>Journal of the Mechanics and Physics of Solids
      <br>Vol. 52(7), pp. 1595–1625, 2004
    </li>
  </ol>

  <h2 id="chapters">Chapters in books</h2>
  <ol class="writing">
    <li>
      <strong>“A computational framework for nonlinear elasticity”</strong>
      <a href="http://www.springer.com/mathematics/computational+science+%26+engineering/book/978-3-642-23098-1" title="Download the original article">[postprint]</a>
      <a href="/papers/computational-framework-for-nonlinear-elasticity.pdf">[preprint]</a>
      <br><em>H. Narayanan</em>
      <br>Automated Solution of Differential Equations by the Finite Element Method, A. Logg, K-A. Mardal, G. N. Wells  (Eds.)
      <br>Chap. 27, pp. 527–544, 2012
    </li>
    <li>
      <strong>“A comparison of some finite element schemes for the incompressible Navier-Stokes equations”</strong>
      <a href="http://www.springer.com/mathematics/computational+science+%26+engineering/book/978-3-642-23098-1" title="Download the original article">[postprint]</a>
      <a href="/papers/comparison-of-finite-element-schemes-for-navier-stokes-equations.pdf">[preprint]</a>
      <br>K. Valen-Sendstad, A. Logg, K-A. Mardal, <em>H. Narayanan</em>, M. Mortensen
      <br>Automated Solution of Differential Equations by the Finite Element Method, A. Logg, K-A. Mardal, G. N. Wells  (Eds.)
      <br>Chap. 21, pp. 395–417, 2012
    </li>
    <li>
      <strong>“Characterization and modeling of growth and remodeling in tendon and soft tissue constructs”</strong>
      <a href="http://dx.doi.org/10.1007/3-540-31184-X_5" title="Download the original article">[postprint]</a>
      <a href="/papers/characterizing-growth-and-remodeling.pdf">[preprint]</a>
      <br>E. M. Arruda, S. Calve, K. Garikipati, K. Grosh, <em>H. Narayanan</em>
      <br>Mechanics of Biological Tissue, G. A. Holzapfel, R. W. Ogden  (Eds.)
      <br>Chap. 5, pp. 63–75, 2006
    </li>
    <li>
      <strong>“Material forces in the context of biotissue remodelling”</strong>
      <a href="http://dx.doi.org/10.1007/0-387-26261-X_8" title="Download the original article">[postprint]</a>
      <a href="http://arxiv.org/pdf/q-bio/0312002v1">[preprint]</a>
      <br>K. Garikipati, <em>H. Narayanan</em>, E. M. Arruda, K. Grosh, S. Calve
      <br>Mechanics of Material Forces, P. Steinmann, G. A. Maugin  (Eds.)
      <br>Chap. 8, pp. 77–84, 2005
    </li>
  </ol>

  <h2 id="proceedings">Conference proceedings</h2>
  <ol class="writing">
    <li>
      <strong>“Experimental and computational investigation of viscoelasticity of native and engineered ligament and tendon”</strong>
      <a href="http://dx.doi.org/10.1007/978-90-481-3348-2_1" title="Download the original article">[postprint]</a>
      <a href="/papers/experimental-and-computational-viscoelasticity.pdf">[preprint]</a>
      <br>J. Ma, <em>H. Narayanan</em>, K. Garikipati, K. Grosh, E. M. Arruda
      <br>Cellular, Molecular and Tissue Mechanics
      <br>IUTAM Symposium Bookseries
      <br>Vol. 16, pp. 3–17, 2010
    </li>
    <li>
      <strong>“Collaborative computational frameworks and the growth problem”</strong>
      <a href="http://www.ems-ph.org/journals/show_abstract.php?issn=1660-8933&amp;vol=5&amp;iss=3&amp;rank=11" title="Download the original article">[postprint]</a>
      <a href="https://www.mfo.de/document/0836a/OWR_2008_39.pdf">[preprint]</a>
      <br><em>H. Narayanan</em>, K. Garikipati, A. Logg
      <br>The Mathematics of Growth and Remodelling of Soft Biological Tissues
      <br>Mathematisches Forschungsinstitut Oberwolfach Reports
      <br>Vol. 5(3), pp. 2247–2249, 2008
    </li>
    <li>
      <strong>“Mathematical modelling of solid tumor growth”</strong>
      <a href="http://www.ems-ph.org/journals/show_abstract.php?issn=1660-8933&amp;vol=5&amp;iss=3&amp;rank=11" title="Download the original article">[postprint]</a>
      <a href="https://www.mfo.de/document/0836a/OWR_2008_39.pdf">[preprint]</a>
      <br>K. Garikipati, <em>H. Narayanan</em>, K. Grosh, E. M. Arruda
      <br>The Mathematics of Growth and Remodelling of Soft Biological Tissues
      <br>Mathematisches Forschungsinstitut Oberwolfach Reports
      <br>Vol. 5(3), pp. 2235–2238, 2008
    </li>
  </ol>

  <h2 id="other-writing">Other academic writing</h2>
  <ol class="writing">
    <li>
      <strong>“A continuum theory of multiphase mixtures for modelling biological growth”</strong>
      <a href="http://dx.doi.org/2027.42/57683" title="Download the original article">[postprint]</a>
      <a href="/papers/dissertation/dissertation.pdf">[preprint]</a>
      <br><em>H. Narayanan</em>
      <br>Doctoral Dissertation, University of Michigan
      <br>2007
    </li>
    <li>
      <strong>“Variational level sets in shape reconstruction from unorganised data sets”</strong>
      <a href="/papers/reconstruction.pdf">[preprint]</a>
      <br><em>H. Narayanan</em>
      <br>Project Report, University of Michigan
      <br>2005
    </li>
  </ol>

  <h2 id="talks">Selected talks at conferences</h2>
  <!-- TODO: Go to v4 and see if all interesting talks have been migrated -->
  <!-- TODO: Upload all talks to e.g. speakerdeck, then embed in a detail page with the slides, a download link, the abstract and metadata -->
  <ol>
    <li>
      <strong>“A continuum model for the active mechanical response of the myocardium”</strong>
      <a href="/talks/talk20/talk20.pdf">[slides]</a>
      <br>Tenth World Congress on Computational Mechanics
      <br>São Paulo, Brazil, July  2012
    </li>
    <li>
      <strong>“The role of K+ channels in human articular chondrocyte electrophysiology”</strong>
      <a href="/talks/inhouse8/inhouse8.pdf">[slides]</a>
      <br>Cardiac Modelling Seminar at Simula Research Laboratory
      <br>Oslo, Norway, July 2011
    </li>
    <li>
      <strong>“An automated computational framework for hyperelasticity”</strong>
      <a href="/talks/talk19/talk19.pdf">[slides]</a>
      <br>Fourth European Conference on Computational Mechanics
      <br>Paris, France, May 2010
    </li>
    <li>
      <strong>“A goal-oriented error-controlled solver for biomedical flows”</strong>
      <a href="/talks/talk17/talk17.pdf">[slides]</a>
      <br>Fifth M.I.T. Conference on Computational Fluid and Solid Mechanics
      <br> Cambridge, MA, June 2009
    </li>
    <li>
      <strong>“Collaborative computational frameworks and the growth problem”</strong>
      <a href="/talks/talk16/talk16.pdf">[slides]</a>
      <br>Workshop on the Mathematics of Growth and Remodelling of Soft Biological Tissues
      <br>Mathematisches Forschungsinstitut Oberwolfach, Germany, September 2008
    </li>
    <li>
      <strong>“Reshaping tumour growth”</strong>
      <a href="/talks/talk15/talk15.pdf">[slides]</a>
      <br>University of Michigan Engineering Graduate Student Symposium
      <br>Ann Arbor, MI, November 2007
    </li>
    <li>
      <strong>“A continuum theory of multiphase mixtures for modelling biological growth”</strong>
      <a href="/talks/defence/defence.pdf">[slides]</a>
      <br>Doctoral Dissertation Defence
      <br>Ann Arbor, MI, October 2007
    </li>
    <li>
      <strong>“The numerical implications of multi-phasic mechanics assumptions underlying growth models”</strong>
      <a href="/talks/talk14/talk14.pdf">[slides]</a>
      <br>Ninth U.S. National Congress on Computational Mechanics
      <br>San Fransisco, CA, July 2007
    </li>
    <li>
      <strong>“Finite element methods in general relativity”</strong>
      <a href="/talks/talk13/talk13.pdf">[slides]</a>
      <br>University of Michigan Engineering Graduate Student Symposium
      <br>Ann Arbor, MI, November 2006
    </li>
    <li>
      <strong>“Viscoelastic and growth mechanics in engineered and native tendons”</strong>
      <a href="/talks/talk11/talk11.pdf">[slides]</a>
      <br>43<sup>rd</sup> Annual Technical Meeting of the Society of Engineering Science
      <br>University Park, PA, August 2006
    </li>
    <li>
      <strong>“The numerical implications of fluid incompressibility in multiphasic modelling of soft tissue growth”</strong>
      <a href="/talks/talk12/talk12.pdf">[slides]</a>
      <br>Seventh World Congress on Computational Mechanics
      <br>Los Angeles, CA, July 2006
    </li>
    <li>
      <strong>“Tendon growth and healing: The roles of reaction, transport and mechanics”</strong>
      <a href="/talks/talk10/talk10.pdf">[slides]</a>
      <br>15<sup>th</sup> U.S. National Congress on Theoretical and Applied Mechanics
      <br>Boulder, CO, June 2006
    </li>
    <li>
      <strong>“Computational modelling of mechanics and transport in growing tissue”</strong>
      <a href="/talks/talk9/talk9.pdf">[slides]</a>
      <br>Eighth U.S. National Congress on Computational Mechanics
      <br>Austin, TX, July 2005
    </li>
    <li>
      <strong>“Simulations of coupled mechanics and transport in growing soft tissue”</strong>
      <a href="/talks/talk7/talk7.pdf">[slides]</a>
      <br>Third M.I.T. Conference on Computational Fluid and Solid Mechanics
      <br>Cambridge, MA, June 2005
    </li>
    <li>
      <strong>“Multi-scale simulations of the mechanics of transport and growth in soft tissue”</strong>
      <a href="/talks/talk4/talk4.pdf">[slides]</a>
      <br>41<sup>st</sup> Annual Technical Meeting of the Society of Engineering Science
      <br>Lincoln, NE, October 2004
    </li>
    <li>
      <strong>“Material forces in the context of biological tissue remodelling”</strong>
      <a href="/talks/talk2/talk2.pdf">[slides]</a>
      <br>Seventh U.S. National Congress on Computational Mechanics
      <br>Albuquerque, NM, July 2003
    </li>
    <li>
      <strong>“A continuum treatment of growth in tissue”</strong>
      <a href="/talks/talk1/talk1.pdf">[slides]</a>
      <br>Second M.I.T. Conference on Computational Fluid and Solid Mechanics
      <br>Cambridge, MA, June 2003
    </li>
  </ol>
</div>
{{ partial "footer.html" . }}
