<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }}{{ if not .IsHome }} — {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}">
    <meta name="author" content="Harish Narayanan">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="/styles/projects/animals-on-bikes.css">
  </head>
  <body>
    <header></header>

    <aside class="left-padding"></aside>
    <section class="image-1"><img src="/images/projects/animals-on-bikes/1.png" alt=""></section>
    <section class="image-2"><img src="/images/projects/animals-on-bikes/2.png" alt=""></section>
    <section class="image-3"><img src="/images/projects/animals-on-bikes/3.png" alt=""></section>
    <aside class="right-padding"></aside>

    <aside class="left-padding"></aside>
    <section class="image-4"><img src="/images/projects/animals-on-bikes/4.png" alt=""></section>
    <section class="image-5"><img src="/images/projects/animals-on-bikes/5.png" alt=""></section>
    <section class="image-6"><img src="/images/projects/animals-on-bikes/6.png" alt=""></section>
    <aside class="right-padding"></aside>

    <footer></footer>
  </body>
</html>
