{{ partial "header.html" . }}
<div class="container">
  <h1 id="main-description">Things I’ve Made</h1>

  {{ .Content }}

  <!-- TODO: Featured stuff (e.g. shpotify) goes to the home page? -->

  <form action="/projects/" method="GET">
    <div class="pure-g l-box-container">
      <div class="pure-u-sm-1-2 pure-u-1-1">
	<div class="l-box">
	  <select  id="exampleRecipientInput" name="thinkbot-demo">
            <option value="elasticity">Pulley under centripetal acceleration</option>
            <option value="hyperelasticity">Twisting a rubber block</option>
            <option value="navier-stokes">Flow through an aneurysm</option>
	  </select>
	</div>
      </div>
      <div class="pure-u-sm-1-2 pure-u-1-1">
	<div class="l-box">
	  <input type="submit" value="Visualize">
	</div>
      </div>
    </div>
  </form>

  <div class="pure-g">
    <div id="visualization" style="height: 400px; background-color: inherit;" class="pure-u-1-1">
    </div>
  </div>

  <h2 id="websites">Sites around the web</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "website" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="software">Simple software utilities</h2>
  <p>The following tools were originally created to solve simple problems I stumbled across. I am releasing their code in the hope that they will be helpful to you too.</p>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "software" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="art">Digital art</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "art" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
