{{ partial "header.html" . }}
<div class="container">
  <h1 id="main-description">Things I’ve Made</h1>

  {{ .Content }}

  <h2 id="websites">Sites around the web</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "website" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="software">Simple software utilities</h2>
  <p>The following tools were originally created to solve simple problems I stumbled across. I am releasing their code in the hope that they will be helpful to you too.</p>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "software" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  <h2 id="art">Digital art</h2>
  <div class="pure-g l-box-container">
    {{ range where .Data.Pages "Params.category" "==" "art" }}
    {{ .Render "summary" }}
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
